// set up global styling app 
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.form-a{
    padding-top:300px;
}

//import partiel style/
@import './partiel/navBar';
@import './partiel/form';
