* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  background-color: #191a1d;
  width: 100%;
  position: fixed;
  height: 87px;
}

.menu-desktop {
  display: none;
}

.name-container {
  position: absolute;
  margin-left: 24px;
  z-index: 15;
  padding-top: 20px;
}

.name-container::after {
  content: '';
  display: block;
  margin-top: 6px;
  background-color: yellow;
  height: 5px;
  width: 25%;
  border-radius: 4px;
}

li {
  list-style: none;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  right: 24px;
  z-index: 15;
  padding-top: 30px;
}

.lineOne {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.lineTwo {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.lineThree {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}

.close {
  display: none;
}

.mobileNav {
  height: 100vh;
  background-color: white;
  padding-top: 100px;
}

.mobileNav a {
  color: #919191;
  text-decoration: none;
  outline: none;
  font-weight: 300;
  font-size: 16px;
}

.mobileNav li {
  margin-left: 25px;
}

#border-bottom {
  border-bottom: 2px #f6f6f6 solid;
  border-radius: 4px;
  margin-right: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#up-space {
  padding-top: 15px;
}

.form-container {
  margin-left: 24px;
  margin-right: 24px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.form__name__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.form__name__email__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.text-container {
  text-align: center;
}

label {
  padding-bottom: 10px;
}

.input {
  padding: 15px;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
}

input:hover {
  border: 2px yellow solid;
  border-radius: 4px;
}

textarea:hover {
  border: 2px yellow solid;
  border-radius: 4px;
}

.btnMessage {
  margin-top: 25px;
  width: 50%;
  height: 30px;
  border: 1px solid yellow;
  border-radius: 4px;
  background-color: yellow;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 25px;
}

.noError {
  display: none;
}

.error {
  color: red;
}

.header-container {
  padding-top: 87px;
  background-color: #191a1d;
}

.topLine {
  height: 2px;
  background-color: #323232;
  margin-right: 24px;
  margin-left: 24px;
}

.container-title {
  padding-top: 50px;
  margin-right: 24px;
  margin-left: 24px;
}

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
}

.presentation {
  margin-top: 25px;
  color: #ababab;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 140%;
}

.btn-container-header {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 25px;
}

.myProject-btn {
  background-color: yellow;
  padding: 22px 34px;
  color: white;
  font-size: 1.5rem;
  border-radius: 1000px;
  font-weight: 400;
}
/*# sourceMappingURL=app.css.map */