

.nav{
    background-color:#302C2B;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid grey;
    height: 140px;

}


.menu-desktop{
    display: none;
}

.name-container{
    position:absolute;
    margin-left:24px;
    padding-top: 40px;
    z-index: 15;

}
.name-container::after{
    content:'';
    display: block;
    margin-top:6px;
    background-color: yellow;
    height: 5px;
    width:25%;
    border-radius:4px;
}

a{
    text-decoration: none;
    color: white;
    outline: none;
}
li{
     list-style: none;
}
.hamburger{
    cursor:pointer;
    position: absolute;
    right: 24px;
    margin-top: 32px;
    z-index: 15;


}
.lineOne{
    width: 30px;
    height: 5px;
    border-radius:5px;
    margin-top: 25px;
    margin-bottom: 5px;

}
.lineTwo{
    width: 30px;
    height: 5px;
    border-radius:5px;
    margin-bottom: 5px;
}
.lineThree{
    width: 30px;
    height: 5px;
    border-radius:5px;
}



.close{
    display: none;

}
.mobileNav{
    height: 100vh;
    background-color: white;
    padding-top: 150px;

}
.mobileNav a{
    color: black;
}
.mobileNav li {
    margin-left: 25px;
}

#border-bottom{
    border-bottom: 2px grey solid;
    border-radius:4px;
    margin-right: 25px;

}
